<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="br.com.aquaman" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="AquarioVirtual.App.Droid"></application>
</manifest>